<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con estilo css</title>
    <link rel="stylesheet" href="./../src/css/estilo.css">
</head>

<body>
    <form>
        <div></div>
        <label for="email">Email:</label></div>
        </div>
        </div>
        <div></div>
        <input type="text" id="email" name="textemail" placeholder="ejemplo@email.com"></div>
        </div>
        </div>
        <label for="contraseña">Password:</label></div>
        <input id="contraseña" name="contraseña" placeholder="Ingresa tu password"></div>

        <label for="direccion">Direccion:</label></div>
        <input id="direccion" name="direccion" placeholder="Ingresa tu Dirección"></div>

        <label for="direccion2">Direccion 2:</label></div>
        <input id="direccion2" name="direccion2" placeholder="Ingresa tu Dirección 2"></div>

        <label for="ciudad">Ciudad:</label></div>
        <input id="ciudad" name="ciudad" type="ciudad" placeholder="Ingresa tu Ciudad"></div>


        <!-- Select -->
        <div></div>
        <div></div>
        <label for="estado">Estado:</label></div>
        </div>
        </div>
        <!-- con "disabled" puedo deshabilitar el input -->
        </div>
        <select name="est" id="est"></div>
        <option value="">--Seleccionar Estado--</option></div>
        <option value="jal">Jalisco</option></div>
        <option value="mich">Michoacan</option></div>
        <option value="sin">Sinaloa</option></div>
        <option value="nay">Nayarit</option></div>
    </select></div>
        </div>
        </div>

        <label for="postal">Codigo Postal:</label>
        <input id="postal" name="postal" type="postal" placeholder="Ingresa tu codigo postal">

        <div>
            <input type="checkbox" name="registrar" id="registrar" value="registrar">
            <label for="registrar">Registrarme</label>
        </div>

        <input id="submit" name="submit" type="submit" value="Enviar">
    </form>
</body>

</html>