<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores</title>
    <link rel="stylesheet" href="./../../src/css/selectores.css">
</head>

<body>
    <h1 class="selector-clase">Selector por clase</h1>
    <h1 class="selector-clase selector-clase-2">Elemento con dos clases</h1>
    <h1 id="selector-id">Selector por id</h1>
    <p class>Selector por nombre (elemento)</p>
    <p class="selector-clase">Selector por nombre (elemento) con clase</p>
</body>

</html>