<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores de pseudo elementos</title>
    <link rel="stylesheet" href="./../../src/css/selectores-pseudo-elementos.css">
</head>

<body>
    <p>Hasta hace poco cuando diseñamos un sitio web luego teníamos que hacer diferentes versiones de este sitio según su resolución para poder adaptarse a los diversos dispositivos (ordenador y móvil básicamente). Con el Responsive Design esto se ha acabado
        (además que Google valora este tipo de usabilidad en contenidos).</p>
</body>

</html>