label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

form {
    padding: 5px;
    padding-right: 50px;
    width: 80%;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

text {
    padding: 5px;
    padding-right: 50px;
    width: 80%;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit {
    width: 85px;
    height: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: blue;
}