/* link no visitado */

a:link {
    color: red
}


/* link visitado */

a:visited {
    color: rgb(28, 32, 29);
}


/* pasar crusor */

a:hover {
    color: rgb(53, 40, 238);
}


/* mantener click */

a:active {
    color: purple;
}


/* selector de atributos */

a[target=_blank] {
    background-color: yellow;
}

body {
    background: rgb(13, 139, 61) url(./../../assets/img/walter.jpg) no-repeat right fixed;
}